* {
    border: none;

    font-size: 12px;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: 600;

    transition: color ease 0.2s;
    transition: background-color ease 0.2s;
}

#waybar {
    color: rgb(194, 194, 176);
    background-color: rgb(24, 24, 24);

    border: 1px solid rgb(96, 96, 96);
    border-radius: 8px;
}

#network,
#pulseaudio,
#tray,
#clock,
#cpu,
#memory,
#workspaces,
#temperature,
#custom-gpu-usage {
    margin: 0 2px;
    padding: 0 12px;
    border-radius: 8px;
}

/* leftmost widget */
#network {
    margin: 0 2px 0 0;
}

/* rightmost widget */
#custom-gpu-usage {
    margin: 0 0 0 2px;
}

#network:hover,
#pulseaudio:hover,
#tray:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#custom-gpu-usage:hover {
    color: rgb(24, 24, 24);
    background-color: shade(rgb(201, 165, 84), 1.0);
}

box.modules-left,
box.modules-center,
box.modules-right {
    padding: 4px;
}

#workspaces button {
    margin: 0 2px;
    padding: 4px 8px;

    color: rgb(194, 194, 176);
    background-color: rgb(24, 24, 24);
}

#workspaces button.active {
    font-weight: 700;
    color: rgb(24, 24, 24);
    background-color: shade(rgb(201, 165, 84), 1.0);
}

#workspaces button:hover {
    color: rgb(24, 24, 24);
    background: unset;
    background-color: shade(rgb(166, 201, 171), 1.0);
}
