* {
    border: none;

    font-size: 12px;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: 600;

    transition: color ease 0.2s;
    transition: background-color ease 0.2s;
}

#waybar {
    color: rgb(193, 193, 193);
    background-color: rgb(18, 18, 18);

    border: 1px solid rgb(153, 153, 153);
    border-radius: 8px;
}

#network,
#pulseaudio,
#tray,
#clock,
#workspaces,
#cpu,
#memory,
#battery {
    margin: 0 2px;
    padding: 0 12px;

    border-radius: 8px;
}

/* leftmost widget */
#network {
    margin: 0 2px 0 0;
}

/* rightmost widget */
#battery {
    margin: 0 0 0 2px;
}

#network:hover,
#pulseaudio:hover,
#tray:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#battery:hover {
    color: rgb(18, 18, 18);
    background-color: shade(rgb(160, 102, 102), 1.0);
}

box.modules-left,
box.modules-center,
box.modules-right {
    padding: 4px;
}

#workspaces button {
    margin: 0 2px;
    padding: 4px 8px;

    color: rgb(193, 193, 193);
    background-color: rgb(18, 18, 18);
}

#workspaces button.active {
    font-weight: 700;
    color: rgb(18, 18, 18);
    background-color: shade(rgb(160, 102, 102), 1.0);
}

#workspaces button:hover {
    color: rgb(18, 18, 18);
    background: unset;
    background-color: shade(rgb(221, 153, 153), 1.0);
}
