Code/
Discord/
Electron/
JetBrains/
QtProject/
Thunar/
Vencord/
cava/
clangd/
copyq/
dconf/
discord/
evolution/
gnome-session/
goa-1.0/
google-chrome/
gtk-3.0/
ibus/
neofetch/
nwg-look/
obsidian/
pulse/
spotify/
systemd/
vlc/
xdg-desktop-portal/
xfce4/
xsettingsd/
yay/
/*.ini
/*.conf
/user-dirs.*
/monitors.xml
/mimeapps.list
