Code/
Discord/
Electron/
JetBrains/
Thunar/
Vencord/
copyq/
dconf/
discord/
evolution/
gnome-session/
goa-1.0/
google-chrome/
ibus/
obsidian/
pulse/
spotify/
systemd/
vlc/
xdg-desktop-portal/
xfce4/
xsettingsd/
yay/
QtProject.conf
monitors.xml
*.ini
user-dirs.dirs
user-dirs.locale
