window {
    color: rgb(194, 194, 176);
    background-color: rgb(24, 24, 24);

    border-radius: 16px;
}

#outer-box {
    background-color: rgb(24, 24, 24);

    border: 1px solid rgb(96, 96, 96);
    border-radius: 16px;
}

#inner-box {
    margin: 4px;
    padding: 0px 12px;

    color: rgb(194, 194, 176);
    font-weight: 600;
    background-color: rgb(24, 24, 24);

    border-radius: 16px;
}

#scroll {
    margin: 4px 0px;

    border-radius: 16px;
}

#input {
    margin: 16px 12px 0px 12px;
    padding: 8px 12px;

    font-weight: 600;

    color: rgb(194, 194, 176);
    background-color: rgb(24, 24, 24);

    border: 1px solid rgb(96, 96, 96);
    border-radius: 15px;

    outline: none;
}

#input:focus {
    border: 1px solid rgb(120, 130, 75);
}

#entry {
    margin: 4px 0px;
    padding: 4px;

    border-radius: 16px;

    background-color: transparent;
}

#entry:selected {
    color: rgb(24, 24, 24);
    background-color: rgb(187, 119, 68);

    border-radius: 16px;
}

#img {
    margin-right: 8px;
}

#img:selected {
    color: rgb(24, 24, 24);
    background-color: rgb(187, 119, 68);

    border-radius: 16px;
}

#text:selected {
    color: rgb(24, 24, 24);
    background-color: rgb(187, 119, 68);

    border-radius: 16px;
}
