window {
    color: rgb(193, 193, 193);
    background-color: rgb(18, 18, 18);

    border-radius: 16px;
}

#outer-box {
    background-color: rgb(18, 18, 18);

    border: 1px solid rgb(153, 153, 153);
    border-radius: 16px;
}

#inner-box {
    margin: 4px;
    padding: 0px 12px;

    color: rgb(193, 193, 193);
    font-weight: 600;
    background-color: rgb(18, 18, 18);

    border-radius: 16px;
}

#scroll {
    margin: 4px 0px;

    border-radius: 16px;
}

#input {
    margin: 16px 12px 0px 12px;
    padding: 8px 12px;

    font-weight: 600;

    color: rgb(193, 193, 193);
    background-color: rgb(18, 18, 18);

    border: 1px solid rgb(153, 153, 153);
    border-radius: 15px;

    outline: none;
}

#input:focus {
    border: 1px solid rgb(170, 170, 170);
}

#entry {
    margin: 4px 0px;
    padding: 4px;

    border-radius: 16px;

    background-color: transparent;
}

#entry:selected {
    color: rgb(18, 18, 18);
    background-color: rgb(95, 135, 135);

    border-radius: 16px;
}

#img {
    margin-right: 8px;
}

#img:selected {
    color: rgb(18, 18, 18);
    background-color: rgb(95, 135, 135);

    border-radius: 16px;
}

#text:selected {
    color: rgb(18, 18, 18);
    background-color: rgb(95, 135, 135);

    border-radius: 16px;
}
