@define-color base rgb(25, 23, 36);
@define-color surface rgb(31, 29, 46);
@define-color overlay rgb(38, 35, 58);
@define-color muted rgb(110, 106, 134);
@define-color subtle rgb(144, 140, 170);
@define-color text rgb(224, 222, 244);
@define-color love rgb(235, 111, 146);
@define-color gold rgb(246, 193, 119);
@define-color rose rgb(235, 188, 186);
@define-color pine rgb(49, 116, 143);
@define-color foam rgb(156, 207, 216);
@define-color iris rgb(196, 167, 231);
@define-color highlight-low rgb(33, 32, 46);
@define-color highlight-med rgb(64, 61, 82);
@define-color highlight-high rgb(82, 79, 103);

* {
    border: none;

    font-size: 12px;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: 600;

    transition: background-color ease 0.2s;
}

window#waybar {
    color: @text;
    background-color: transparent;
}

window#waybar > box {
    margin: 12px 12px 0px 12px;
}

#network,
#pulseaudio,
#custom-updates,
#tray,
#clock,
#cpu,
#memory,
#workspaces,
#temperature {
    padding: 0 8px;

    border-radius: 8px;
}

box.modules-left {
    padding: 4px 8px;
    border-radius: 999px;

    color: @base;
    background-color: @foam;
}

#network:hover,
#pulseaudio:hover,
#custom-updates:hover,
#tray:hover {
    background-color: shade(@foam, 1.1);
}

box.modules-center {
    padding: 4px 8px;
    border-radius: 999px;

    color: @base;
    background-color: @gold;
}

#clock:hover {
    background-color: shade(@gold, 1.1);
}

#workspaces button {
    padding: 2px 8px;
    margin: 0 2px;

    color: @base;
    background-color: @gold;
}

#workspaces button.active {
    font-weight: 700;
    background-color: shade(@gold, 0.9);
}

#workspaces button:hover {
    background: unset;

    background-color: shade(@gold, 1.1);
}

box.modules-right {
    padding: 4px 8px;

    border-radius: 999px;

    color: @base;
    background-color: @iris;
}

#cpu:hover,
#memory:hover,
#temperature:hover {
    background-color: shade(@iris, 1.1);
}
