@define-color background   rgb(24, 24, 24);
@define-color foreground   rgb(194, 194, 176);
@define-color black        rgb(24, 24, 24);
@define-color black-bright rgb(96, 96, 96);
@define-color red          rgb(104, 87, 66);
@define-color green        rgb(95, 135, 95);
@define-color yellow       rgb(179, 109, 67);
@define-color blue         rgb(120, 130, 75);
@define-color magenta      rgb(187, 119, 68);
@define-color cyan         rgb(201, 165, 84);
@define-color white        rgb(215, 196, 131);

* {
    border: none;

    font-size: 12px;
    font-family: "JetbrainsMono Nerd Font";
    font-weight: 600;

    transition: color ease 0.2s;
    transition: background-color ease 0.2s;
}

#waybar {
    color: @foreground;
    background-color: @background;

    border: 1px solid @black-bright;
    border-radius: 8px;
}

#network,
#pulseaudio,
#tray,
#clock,
#workspaces,
#cpu,
#memory,
#battery {
    margin: 0 2px;
    padding: 0 12px;

    border-radius: 8px;
}

/* leftmost widget */
#network {
    margin: 0 2px 0 0;
}

/* rightmost widget */
#battery {
    margin: 0 0 0 2px;
}

#network:hover,
#pulseaudio:hover,
#tray:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#battery:hover {
    color: @background;
    background-color: shade(@cyan, 1.0);
}

box.modules-left,
box.modules-center,
box.modules-right {
    padding: 4px;
}

#workspaces button {
    margin: 0 2px;
    padding: 4px 8px;

    color: @foreground;
    background-color: @background;
}

#workspaces button.active {
    font-weight: 700;
    color: @background;
    background-color: shade(@cyan, 1.0);
}

#workspaces button:hover {
    color: @background;
    background: unset;
    background-color: shade(@yellow, 1.0);
}

