window {
    background: transparent;
}

#box {
    background-color: rgba(32, 32, 32, 0.75);
    border: 1px solid rgba(60, 60, 60, 0.4);
    border-radius: 24px;
    padding: 6px 10px;
    margin: 0;
}

button {
    background: transparent;
    border-radius: 12px;
    padding: 2px;
    margin: 0 2px;
    border: none;
    transition: all 150ms ease;
}

button:hover {
    background-color: rgba(60, 60, 60, 0.5);
}

button:focus {
    box-shadow: none;
    outline: none;
}

image {
    min-width: 40px;
    min-height: 40px;
}
